<div class="container-fluid padding">
  <div class="row">
    <div class="col-12">
      <h1 class="black">Condiciones generales</h1>
      <h1 class="black">TERMINOS Y CONDICIONES DE USO DE LA WEB</h1>
      <h4>Esta web es propiedad de SAMA BOX,S.L. con CIF B95981536 y su domicilio se encuentra en C/Uribitarte, 6-2º
        Planta, 48001 Bilbao (Bizkaia) (en adelante BOXSR).</h4>
      <h4>Email: hola@boxsr.es</h4>
      <h4>Nombre del dominio: www.boxsr.es</h4>
      <h4>Teléfono de contacto: 652705481</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="black">DISPOSICIONES GENERALES</h2>
      <h4>La información y el contenido publicados en nuestra web www.boxsr.es tiene como único objeto promocionar los
        productos de Boxsr y el contenido de la web puede no estar adaptado o disponible para ser utilizada en todos los
        países.</h4>
      <h4>El usuario visita la web por su cuenta y riesgo y debe respetar las normativas locales de su país, quedando
        entendido que el acceso al contenido de la web podría considerarse ilegal para algunas personas o en algunos
        países.</h4>
      <h4>La web puede describir algunos productos cuya comercialización no está garantizada en todo el mundo.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <H2 class="black">DESCARGO DE RESPONSABILIDAD</H2>
      <h4>BOXSR se preocupa por difundir informaciones completas y exactas, sin embargo, no puede garantizar la
        exactitud o la precisión de la información que aparece en su web y no podría en ningún caso hacerse responsable
        de los errores o inexactitudes contenidos en su web, ni garantizar que el uso de la misma no perjudique a los
        derechos de terceros.</h4>
      <h4>El uso de la página web corre por cuenta y riesgo del usuario.</h4>
      <h4>Este sitio web ha sido revisado y probado para que funcione correctamente, no obstante, BOXSR no se hace
        responsable en ningún caso de los aspectos funcionales y/o técnicos de su web, y no garantiza en ningún caso la
        ausencia total de virus u otros elementos dañinos en su página web y en el/los servidor/es que dan acceso a la
        misma.</h4>
      <h4>Si el uso de la página web o de su contenido conllevara para el usuario una molestia que lo obligara a hacer
        reparar o sustituir equipamientos, materiales o bases de datos, no podrán repercutirse sobre BOXSR los gastos
        generados por dichas operaciones.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="black">RECISIÓN</h2>
      <h4>Queda entendido que BOXSR puede poner fin, con o sin preaviso, al uso de la web por parte del usuario si
        considera razonablemente que éste ha infringido las presentes condiciones violando los derechos de BOXSR.</h4>
      <h4>El usuario reconoce el derecho de BOXSR a modificar la web o a suspender su publicación, con o sin preaviso a
        los usuarios de la web.</h4>
      <h4>Reconoce asimismo que BOXSR no podrá ser hecho responsable, respecto al usuario o respecto a un tercero, de
        las consecuencias causadas por la citada modificación o suspensión de la web.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="black">LIMITACIÓN DE RESPONSABILIDAD</h2>
      <h4>BOXSR no podrá ser hecho responsable en ninguna circunstancia, cualquiera que esta sea, de pérdidas que
        resulten directa o indirectamente del uso de la web y de los datos que aparecen en la web, incluyendo, en
        particular, en caso de privación de uso, de pérdida de explotación, pérdida de beneficios, pérdida de datos o
        cualquier daño accesorio, cualquiera que sea el fundamento jurídico alegado por el usuario, y ello incluso en el
        supuesto de que BOXSR hubiera sido informado previamente de la posibilidad de tales daños.</h4>
      <h4>Dado que algunos Estados y países no admiten la exclusión o la limitación de responsabilidad por los daños
        consecutivos a dichos usos, la limitación de responsabilidad antes citada puede no aplicarse a todos los
        usuarios.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="black">REGISTRO DE USUARIOS</h2>
      <h4>No es necesario el registro para realizar un pedido. Sin embargo, para acceder a algunos de nuestros servicios
        el usuario deberá registrarse rellenando el formulario de registro, donde se le pedirá información de carácter
        personal que deberá ser actualizada y ajustarse a la realidad, deberá proporcionar datos personales válidos y
        actualizados tales como su nombre legal, su número de teléfono y su dirección de correo electrónico, y confirmar
        que ha alcanzado la mayoría de edad legal.</h4>
      <h4>Al final del registro el usuario deberá aceptar los presentes Términos y Condiciones de Compra y nuestra
        Política de Privacidad.</h4>
      <h4>Una vez que haya completado el registro de su cuenta en el sitio, recibirá un correo electrónico que le
        permitirá iniciar sesión con su cuenta y crear un nombre de acceso y una contraseña para su cuenta permanente.
      </h4>
      <h4>Usted se responsabilizará de garantizar que su contraseña y nombre de acceso a la cuenta se mantengan en secreto y se guarden en un lugar seguro en todo momento.</h4>
      <h4>BOXSR no asumirá responsabilidad alguna por cualquier uso indebido de su cuenta derivado del acceso y uso de su contraseña y nombre de acceso por parte de terceros.</h4>
      <h4>Si cambiase alguno de los datos que haya proporcionado en el sitio web, le rogamos que acceda a su cuenta y actualice dichos datos directamente en el sitio web, informe al Centro de Atención al Cliente escribiendo a la dirección de correo electrónico: hola@boxsr.es.</h4>
      <h4>Asimismo, en el caso de que BOXSR tenga motivos fundados para sospechar que un tercero ha violado el registro del Cliente, su contraseña y/o su nombre de acceso, BOXSR cancelará y cerrará inmediatamente dicha cuenta y se lo notificará por correo electrónico o por teléfono.</h4>
      <h4>En el caso que detecte algún uso indebido de su información de registro póngase en contacto inmediatamente con BOXSR a través del correo electrónico: hola@boxsr.es.</h4>
      <h4>Si usted ha olvidado la contraseña: Pulse sobre el enlace de ¿Has olvidado tu contraseña? que aparece en la pantalla de identificación. Una vez pulsado el enlace, le aparecerá un formulario para que introduzca su correo electrónico, al cual de le enviarán las indicaciones a seguir para restablecer su contraseña. El correo electrónico contiene una nueva contraseña generada de forma aleatoria.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="black">PEDIDOS</h2>
      <h4>Si desea realizar un pedido en el sitio web, su oferta será procesada de la manera siguiente: Una vez que haya seleccionado un producto, haga clic en el botón “Añadir a la cesta” para colocar este producto en su cesta de la compra.
        A continuación, podrá decidir si desea seguir comprando otros productos y añadirlos a su cesta de la compra (sujeto a disponibilidad y límites de cantidad) o proceder a “Comprar” haciendo clic en dicho botón.
        También puede eliminar uno o varios productos que haya seleccionado en la cesta de la compra.</h4>
      <h4>Para realizar un pedido sin registro en nuestro portal deberá introducir información personal. En particular se requerirá su Nombre y Apellidos, dirección de envío, dirección de correo electrónico, número de teléfono y demás información. También se le requerirá que introduzca la información sobre la forma de pago que deberá ser válida y correcta.</h4>
      <h4>Una vez introducida su selección de artículos y completado el proceso de solicitud de pedido le enviaremos un correo electrónico con el detalle de su pedido. El Acuse de recibo del pedido contendrá un Número de Referencia del pedido asignado por BOXSR. Le rogamos se asegure de guardar una copia de su Número de Referencia del Pedido para cualquier consulta posterior acerca de su pedido.
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="black">CAMBIOS Y DEVOLUCIONES</h2>
      <h4>Los productos de BOXSR pasan por unos exhaustivos controles de calidad antes de ponerse a la venta para llegar en perfectas condiciones al cliente final. Por ello, los cambios y devoluciones se admitirán únicamente en productos que conserven su embalaje original en perfectas condiciones. No se admitirá el cambio o devolución de ningún artículo que esté desprecintado, abierto o usado. </h4>
      <h4>SI HA RECIBIDO ALGÚN PRODUCTO QUE NO HABÍA SOLICITADO, SI ESTÁ DEFECTUOSO O HA SIDO DAÑADO DURANTE EL TRANSPORTE, contacta con nosotros en un periodo no superior a 14 días naturales desde la recepción del pedido, enviando un correo electrónico a hola@boxsr.es.</h4>
      <h4>No olvides indicarnos el motivo de la solicitud de cambio o devolución y el número de referencia de su pedido para darte una solución personalizada en la mayor brevedad posible. En estos casos BOXSR asumirá el importe de los gastos generados por la devolución del producto y tramitará el reembolso del importe del producto o su cambio.
      </h4>
      <h4>Muy importante: en los casos de rotura por transporte, se deberá comunicar su daño en el mismo momento de la recepción, ya que sino, no nos haremos responsables de la posible incidencia. </h4>
      <h4>SI QUIERE HACER UNA DEVOLUCIÓN, contacta con nosotros lo antes posible ya que la devolución debe realizarse en un periodo no superior a 14 días naturales desde la recepción del pedido. Puedes enviarnos un mail a hola@boxsr.es.</h4>
      
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="black">DISPONIBILIDAD DE PRODUCTOS</h2>
      <h4>Todos los pedidos realizados a través del sitio web están sujetos a la disponibilidad y a la aceptación por parte de BOXSR.</h4>
      <h4>BOXSR se reserva el derecho de cambiar la selección de artículos ofrecidos en el sitio web y podrá limitar periódicamente la cantidad de productos que pueden ser encargados por un cliente en una sola sesión de compra.

        Las páginas informativas sobre el producto disponible en el sitio web pueden proporcionarle información relativa a los productos que están actualmente disponibles para la venta.
        
        Le rogamos que tenga en cuenta qué únicamente estarán disponibles para la venta a través del sitio web aquellos productos que posean un botón de “Añadir a la cesta”.</h4>
      <h4>Si tiene alguna duda, puede mandar un mail a hola@boxsr.es y le proporcionaremos más información acerca de la disponibilidad del producto y le ayudaremos con su compra.
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="black">REVISIÓN Y CONFIRMACIÓN POR PARTE DEL CLIENTE</h2>
      <h4>Usted deberá comprobar atentamente todos los detalles antes de realizar su pedido a través del sitio web, incluyendo a título meramente enunciativo los detalles de cada venta.

        Una vez que haya revisado por completo su pedido, marque en primer lugar la casilla situada junto a “He leído y acepto las Condiciones de Compra” para indicar que acepta la vinculación de los presentes Términos y Condiciones de Compra y de esta forma poder efectuar su pedido.</h4>
      <h4>Al efectuar un pedido, estará enviando un pedido a BOXSR para la compra de los productos que haya colocado en su “Cesta de la compra”.</h4>
      <h4>A pesar de cualquier disposición contraria contenida en el presente documento, BOXSR se reserva el derecho de rechazar, anular y finalizar pedidos en cualquier momento por razones legítimas. Por ejemplo, BOXSR podrá rechazar, finalizar o anular su pedido si existe actualmente una disputa relativa al pago de un pedido anterior, o si BOXSR sospecha que usted ha violado los presentes Condiciones de Compra.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="black">FORMAS DE PAGO Y PRECIOS</h2>
      <h4>El usuario puede realizar el pago mediante el uso de las siguientes tarjetas de crédito: VISA y MASTER CARD. También podrá realizar el pago a través de la plataforma Paypal y Google Pay.

        Las transferencias bancarias y otros medios de pago no son aceptados.</h4>
      <h4>Para realizar el pedido en nuestra web, deberá introducir sus datos de pago en el formulario pertinente. Todos los titulares de tarjetas de crédito/débito están sujetos a comprobaciones para su validación y autorización por parte de la entidad emisora de la tarjeta.

        Si la entidad emisora de la tarjeta utilizada para su pago deniega la autorización de pago a BOXSR, usted deberá ponerse directamente en contacto con la entidad emisora de su tarjeta para solucionar este problema y BOXSR no se responsabilizará de ningún posible retraso o de la no entrega.</h4>
        <h4>BOXSR utiliza una plataforma segura de pago con encriptación de los datos. BOXSR no guardará en sus archivos la información referente a los datos de las tarjetas utilizadas.</h4>
        <h4>Los pagos y reembolsos de todos los envíos se realizarán en euros (EUR) e incluyen IVA. Si su tarjeta de crédito/débito no está denominada en EUROS, el tipo de cambio lo aplicará la entidad bancaria correspondiente según el tipo de cambio de mercado y podrá variar con respecto al precio indicado en nuestra Tienda Online.

          BOXSR se reserva el derecho de modificar los precios y los gastos de entrega en cualquier momento sin previo aviso. Los precios de los artículos reflejados en la Tienda Online no incluyen los gastos de envío.</h4>
          <h4>En la sección de ENVÍOS, a continuación, encontrará información del coste del transporte dependiendo del volumen de su compra.</h4>
      </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="black">FACTURAS</h2>
      <h4>Al realizar el pedido en nuestra web, tendrá la posibilidad de decidir si desea recibir una factura. Si en ese momento decide que no desea recibir una factura, podrá solicitarla más adelante en cualquier momento enviando un mail a hola@boxsr.es, quedando sujeta la operación a que se proporcionen datos de identificación correctos. Le rogamos que tenga en cuenta que BOXSR no enviará la factura ni los detalles del pago al destinatario si coge la opción de regalo.</h4>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <h2 class="black">LEGISLACIÓN APLICABLE</h2>
      <h4>Las CONDICIONES GENERALES DE USO y cualquier otra política de nuestro portal están sometidas a la legislación Española. Cualquier litigio será sometido a la jurisdicción de los Juzgados y Tribunales de España correspondientes.</h4>
      
    </div>
  </div>

</div>