<div class="carrito-item">
    <span>{{ carritoItem.nombre | titlecase}} <span
            *ngIf="carritoItem.nombre === 'Muestra'"><br>{{carritoItem.tipo_producto}} x
            {{ carritoItem.cantidad }}
            <!-- = <strong class="item-precio">{{ carritoItem.precio * carritoItem.cantidad }}€</strong> -->
        </span>

        <span *ngIf="carritoItem.nombre !== 'Muestra'">
            <br>x
            <span>{{ carritoItem.cantidad }}</span> =
            <strong class="item-precio">{{ carritoItem.precio * carritoItem.cantidad | number : '1.2-2' }}€</strong>
        </span>
    </span>
</div>