<div class="container-fluid slider">
  <div class="row slider-text">
      <div class="col-12">
          <h1>La piel del hombre</h1>
      </div>
  </div>
</div>
<div class="container-fluid pd-top ">
  <div class="row ">
      <div class="col-12 col-sm-12 col-md-6">
        <div class="things-left">
          <div class="content">
            <div class="arrowUno">
              <div class="curve"></div>
              <div class="point"></div>
            </div>
          </div> 
          <div class="content">
            <h1 class="black">DIFERENCIAS ENTRE LA PIEL DEL HOMBRE Y LA MUJER</h1>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6"></div>
      <div class="col-12 pd-left-right">
          <h3>La piel varía según el género y la del hombre es un 25% más gruesa y envejece más lentamente debido principalmente a la testosterona.
            También contiene más colágeno , y tiene un áspecto más compacto y firme. Las arrugas se presentan más tarde, pero cuando aparecen son más profundas.
          </h3>
     
          <h3>Según nuestro estudio realizado a 2000 hombres, entre 30 y 50 años, el 66,7% tiene piel grasa o brillos
            en la zona T. El hombre tiene la piel más grasa y brillante que la mujer, ya que produce el doble de sebo y su pH es inferior.
            Esto provoca que tenga más tendencia a presentar impurezas y acné.
          </h3>
          <h3>Aunque llevar barba está de moda, en general, los hombres pasan unas 3.000 horas a lo largo de su vida recortando su vello facila, y como consecuencia
            de la fricción del afeitado, su piel se vuelve más sensible y reactiva."</h3>
      </div>
  </div>
</div>
<div class="container-fluid pd-top">
  <div class="row ">
    <div class="col-12 col-sm-12 col-md-6"></div>
      <div class="col-12 col-sm-12 col-md-6">
        <div class="things-right">
          <div class="content">
            <div class="arrowDos">
              <div class="curve"></div>
              <div class="point"></div>
            </div>
          </div> 
          <div class="content">
            <h1 class="black">EL CUIDADO DE LA PIEL DEL HOMBRE</h1>
          </div>
        </div>
      </div>
      
      <div class="col-12 pd-left-right">
          <h3> Mientras que las mujeres tienden a usar muchos productos diferentes en su rutina diaria de belleza, los hombres
            prefieren la simplicidad en el cuidado de su piel. Cuanto más fácil y simple sea el proceso mejor.
          </h3>
     
          <h3>BOXSR, bajo el lema "cuídate,hombre", ha sido creada para ayudar a los hombres a combatir los signos de edad y mantener su piel joven y sana, con una rutina innovadora de cosmética masculina
            formulada con ingredientes de alta calidad y efectividad. se trata de solo 3 pasos y 3 minutos al día adapatados
            según su tipo de piel.
          </h3>
          <h3>Aunque llevar barba está de moda, en general, los hombres pasan unas 3.000 horas a lo largo de su vida recortando su vello facila, y como consecuencia
            de la fricción del afeitado, su piel se vuelve más sensible y reactiva."</h3>
            <h3 class="italic black">
              Tú también mereces un enfoque personalizado para el cuidado de tu piel y nuestra misión es promover que el
              público masculino se vuelva proactivo en su rutina y enfrente todos los días con buena cara.
            </h3>
              
      </div>
  </div>
</div>



     
     
          
          

