<app-header-admin></app-header-admin>
<button mat-raised-button (click)="onMostrarCrearColecciones()">Crear coleccion</button>

<app-colecciones-list (modificar)="modificarColeccion($event)" (borrar)="borrarColeccion($event)">
</app-colecciones-list>

<app-crear-coleccion [display]="mostrarCrearColecciones" (cerrarDialogo)="onOcultarCrearColecciones()"
  *ngIf="mostrarCrearColecciones"></app-crear-coleccion>

<app-modificar-coleccion [display]="mostrarModificarColecciones" [coleccion]="coleccionModificar"
  (cerrarDialogo)="onOcultarModificarColecciones()" *ngIf="mostrarModificarColecciones"></app-modificar-coleccion>