.header {
  padding: 0px;
  background-color: white !important;
}

.navbar {
  padding: 0px 30px;
}

.navbar-toggler {
  border: 0px !important;
  padding: 0px;
}

button:focus {
  outline: none !important;
}

a {
  cursor: pointer;
  color: black !important;
  font-size: 20px;
  margin-right: 80px;
}

.left {
  padding-right: 0.6rem;
  position: absolute;
  right: 0;
  top: 1.4rem;

  i {
    color: black;
  }
  a {
    margin-right: 15px;
  }
}

.dropdown-menu {
  border: unset;
  &:active {
    text-decoration: none !important;
    outline: none !important;
  }
}

.dropdown-item {
  font-weight: 300;

  &:active {
    text-decoration: none !important;
    outline: none !important;
    background-color: rgba(128, 128, 128, 0.466) !important;
  }
}

// MEDIA QUERIES ------------------------------------------------------------------------------------------
@media (max-width: 991px) {
  .navbar {
    justify-content: unset;
  }
}
