a {
  cursor: pointer;
}

.header {
  padding: 0px;
  background-color: rgb(201, 201, 201) !important;
}

.navbar {
  padding: 0px 30px;
}

.navbar-toggler {
  border: 0px !important;
  padding: 0px;
}

button:focus {
  outline: none !important;
}

a {
  color: black;
  font-size: 20px;
  font-weight: 800;
  margin-right: 30px;

  &:hover {
    font-weight: bold;
  }
}

.left {
  padding-right: 1.6rem;
  position: absolute;
  right: 0;
  top: 1.4rem;

  i {
    color: black;
  }
}

.dropdown-menu {
  border: unset;
  &:active {
    text-decoration: none !important;
    outline: none !important;
  }
}

.dropdown-item {
  font-weight: 300;

  &:active {
    text-decoration: none !important;
    outline: none !important;
    background-color: rgba(128, 128, 128, 0.466) !important;
  }
}
