<div class="container-fluid padding">
  <div class="row">
    <div class="col-12 preg">
      <h1 class="black">Preguntas frecuentes</h1>
      <h4 class="black">Si tienes cualquier duda o consulta, utiliza nuestro chat o escríbenos al mail hola@boxsr.es y
        estaremos encantados de ayudarte. </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4 class="black">¿Dónde puedo encontrar productos de BOXSR?</h4>
      <h4>Actualmente, los productos de BOXSR solo están disponibles en nuestra página web www.boxsr.es. Solo se puede
        realizar el pedido online y si tienes una duda puedes contactar con nosotros a través de nuestro chat o
        enviándonos un mail a hola@boxsr.es y estaremos encantados de poder ayudarte a realizar tu pedido.</h4>
      <h4 class="black">¿Cómo puedo estar seguro de haber realizado bien mi compra?</h4>
      <h4>Al completar el proceso de compra recibirás un mensaje de confirmación a tu dirección de correo electrónico,
        en el que podrás ver todos los datos de tu pedido. Si tienes cualquier pregunta te puedes poner en contacto con
        nosotros enviándonos un mail a hola@boxsr.es o través de nuestro chat. </h4>
      <h4 class="black">¿Cuánto me cuestan los gastos de envío?</h4>
      <h4>Los envíos solo se realizan en España (Península y Baleares) y llegan a su destino en un plazo de entre 2 o 3
        días hábiles desde el momento en que se realiza el pedido. Puedes elegir el lugar de entrega del pedido en tu
        domicilio, en una oficina de Correos o en un Citipaq cercano. Podemos entregarte tu pedido en cualquier
        dirección dentro de España (Península y Baleares). No realizamos envíos a Canarias, Ceuta o Melilla.</h4>
      <h4 class="black">¿Cómo puedo realizar el seguimiento de mis pedidos?</h4>
      <h4>Puedes saber el estado de tu pedido en todo momento, registrándote como usuario en nuestra web, e
        introduciendo en el apartado “Mis pedidos” el número de referencia que te enviamos en el correo electrónico de
        confirmación del pedido.</h4>
        <h4>También puedes realizar un seguimiento del envío introduciendo el código de envío que te facilitamos en la
          siguiente URL:
          <a href="https://www.correos.es/ss/Satellite/site/aplicacion-localizador_envios-localiza_busca_encuentra/detalle_app-sidioma=es_ES"> https://www.correos.es/ss/Satellite/site/aplicacion-localizador_envios-localiza_busca_encuentra/detalle_app-sidioma=es_ES</a>
        </h4>
        <h4>Te informamos que nosotros estamos pendientes de tu pedido en todo momento para poder mediar con la agencia
          de transportes si fuera necesario.</h4>
        <h4 class="black">¿Puedo recibir mi pedido en una dirección distinta a la de mi casa?</h4>
        <h4>Sí, te entregaremos tu pedido en cualquier dirección dentro de los países disponibles para envíos. Te
          podemos enviar el pedido a tu trabajo, a la dirección de un amigo, familiar o vecino. Cuando se te soliciten
          los datos al final del proceso de compra, indícanos la dirección de envío deseada y el nombre completo de la
          persona que vaya a firmar la recepción del paquete y DNI. Con este sistema favorecemos que puedas hacer un
          regalo a otra persona.</h4>
        <h4>No se harán envíos a apartados postales.</h4>
        <h4 class="black">¿Qué debo hacer cuando el pago de mi pedido ha sido rechazado?</h4>
        <h4>Si tu pago se rechaza puedes clickar en la opción de “Volver a intentar”. Verifica los datos de tu tarjeta
          de crédito y vuelve a aceptar el pago. También tienes la posibilidad de elegir PAYPAL. Para más información
          sobre las razones del rechazo del pago, contacta con tu entidad financiera o con PAYPAL</h4>
        <h4 class="black">Estoy intentando pagar con Paypal pero estoy teniendo dificultades. ¿Qué significa?</h4>
        <h4>Si tienes problemas con el pago a través de Paypal puede ser porque tu cuenta no ha sido verificada. BOXSR
          solo acepta pagos desde cuentas Paypal verificadas. </h4>
        <h4 class="black">¿Qué ocurre si a la entrega de mi pedido no me encuentro en la dirección de envío?</h4>
        <h4>Todas las entregas deben ser firmadas por el destinatario. Si no te encuentras en casa para firmar la
          entrega, el repartidor te dejará una tarjeta de aviso con los datos del envío y con instrucciones de cómo
          poder concertar una nueva fecha para la entrega o para la recogida en una de las oficinas de Correos más
          cercanas a tu domicilio.</h4>
        <h4 class="black">¿Cómo puedo realizar un cambio o devolución de mi pedido?</h4>
        <h4>Para solicitar tu cambio o devolución contacta con BOXSR escribiendo un mail a hola@boxsr.es.

          Recogeremos el paquete en la caja en la que se envió el paquete y tras haber revisado en BOXSR que la
          mercancía está en perfecto estado y correctamente precintada, recibirás la devolución en un plazo de hasta 14
          días hábiles con el mismo modo de pago que realizaste tu compra.</h4>
        <h4>1. Los costes de transporte causados por esta devolución o cambio van siempre a cargo del cliente, salvo que
          el producto esté defectuoso.</h4>
        <h4>2. Los productos se deben devolver en perfecto estado y sin haber sido abiertos, ni estropeado el packaging.
        </h4>
        <h4> * Si lo que quieres es hacer un cambio, deberás hacer primero una devolución y luego hacer un nuevo pedido.
          Para cualquier duda puedes contactar con el Servicio de Atención al Cliente a través del mail hola@boxsr.es.
        </h4>
        <h4 class="black">¿Cuál es el plazo para poder realizar un cambio o devolución?</h4>
        <h4>Si necesitas cambiar o devolver algún producto puedes hacerlo en los siguientes 8 días hábiles a partir de
          la fecha de recepción del pedido.</h4>
        <h4 class="black">¿Existe algún coste por un cambio o devolución?</h4>
        <h4>Sí, los gastos de cambio o devolución corren a cargo del cliente.

          Los gastos de devolución estarán en función de la zona de origen del pedido y de los costes asociados a dicha
          zona.

          BOXSR no es responsable de los costes de aduana ni de la posible retención en la aduana.</h4>
        <h4 class="black">¿Cuándo recibiré el importe de mi devolución?</h4>
        <h4>En caso de devolución, haremos el abono del precio de compra del producto menos los gastos de transporte
          ocasionados por la devolución. El abono se realizará en un plazo máximo de hasta 8 días hábiles a partir de la
          fecha en que recibamos el paquete, siempre y cuando el material se encuentre en perfecto estado (revisar
          política de Devolución). El abono se realizará utilizando el mismo método de pago que utilizaste para hacer la
          compra.</h4>
        <h4 class="black">¿Cómo puedo cancelar mi pedido antes de que se haya enviado?</h4>
        <h4>Si necesitas cancelar tu pedido contacta directamente con nosotros enviándonos un email a hola@boxsr.es y te
          informaremos del estado de su pedido y la posibilidad de su cancelación. Una vez que su pedido haya sido
          enviado, no se podrá cancelar. En el caso de querer devolverlo, tendrás que asumir los costes de devolución.
        </h4>
    </div>
  </div>

</div>