<p-sidebar [(visible)]="mostrarCarrito" (onHide)="cerrarCarrito.emit()" styleClass="p-sidebar-sm">
    <div class="container">
        <h1 *ngIf="carritoItems.length > 0">Tu cesta de la compra</h1>

        <h1 *ngIf="carritoItems.length === 0">Tu cesta esta vacia</h1>

        <div class="container-fluid" *ngIf="carritoItems.length > 0" class="list-group">
            <ul>
                <li class="list-group-item item" *ngFor="let item of carritoItems">
                    <img src={{item.imagen}} alt="">
                    <app-carrito-item [carritoItem]="item"></app-carrito-item>
                    <button class="eliminar-button" (click)="deleteItem(item.producto_id)">X</button>
                </li>

                <li class="list-group-item total">
                    <span>Total: {{ carritoTotal }}€</span>
                </li>
            </ul>

            <button (click)="checkOut()" *ngIf="this.user.usuario_id" (click)="cerrarCarrito2()"
                class="checkout-button">Hacer pedido</button>
            <button (click)="abrirLogin.emit(true)" (click)="cerrarCarrito2()" *ngIf="this.user.length === 0"
                class="checkout-button">Inicia sesión para realizar tu compra</button>

        </div>
    </div>
</p-sidebar>