<div class="container-fluid padding">
  <div class="col-12">
    <div class="row">
      <h1 class="black">Pago seguro</h1>
      <h4>BOXSR toma precauciones (incluidas medidas administrativas, técnicas y físicas) para proteger sus datos
        personales contra pérdidas, robos y usos indebidos, así como contra accesos no autorizados, divulgación,
        alteración y destrucción.</h4>
      <h4>En conformidad con lo previsto en la legislación vigente (Ley Orgánica de Protección de Datos de Carácter
        Personal) y la LSSICE (Ley de Servicios de la Sociedad de la Información y de Comercio Electrónico), Boxsr
        utiliza la tecnología Secure Socket Layer (SSL) de cifrado de datos enviados por internet, para garantizar la
        seguridad y evitar el tratamiento y/o acceso no autorizado de sus datos de carácter personal.</h4>
      <h4>Cuando el sistema de cifrado SSL está habilitado, aparecerá el símbolo de un candado en la parte superior de
        su navegador. Pinchando sobre este candado podrá obtener más información sobre el registro de certificación
        digital SSL. En el campo de dirección (URL) comenzará con las letras «https» en lugar de «http». Esto significa
        que se encuentra en un sitio seguro.</h4>
      <h4>Aunque nos esforzamos por proteger sus datos personales a lo largo del proceso de venta online, no podemos
        garantizar la seguridad e integridad de los datos que usted transmita al sitio web, ni podemos
        responsabilizarnos por daños o pérdidas derivados del uso de la red Internet tales como los actos de piratería.
      </h4>
    </div>
  </div>
</div>