* {
    font-family: averta !important;
  
  }
  .black{
    font-weight: revert;
  }
  .italic{
    font-style: italic;
  }
  .logos{
    width: 97%;
  }
  .center{
    align-items: center;
    display: flex;
    justify-content: center;
  }
  // .height{
  //   height: 15%;
  // }
  
  .padding{
    padding-left: 10%;
    padding-top: 7%;
    padding-right: 10%;
}
  .padding-dos{
    padding:10%;
  }
  .lat{
    padding-left: 10%;
    padding-right: 10%;
  }
