<div class="container-fluid padding">
  <div class="row ">
    <div class="col-12">

      <h1 class="black">Hablan de nosotros</h1>
      <h2>Descubre todos los medios que hablan de BOXSR.</h2>
    </div>
  </div>
</div>
<div class="container-fluid height">
  <div class="row lat">
    <div class="col-12 col-sm-12 col-md-4 center">
      <a href="https://asmmgz.es/blog/especial-cosmetica-masculina/"><img class="logos"
          src="../../../../assets/images/logos/Diseño sin título-9.png" alt="asm" /></a>

    </div>
    <div class="col-12 col-sm-12 col-md-4 center">
      <a href="https://www.elcorreo.com/economia/tu-economia/cremita-20190328173613-nt.html"><img class="logos"
          src="../../../../assets/images/logos/Diseño sin título-8.png" alt="asm" /></a>
    </div>
    <div class="col-12 col-sm-12 col-md-4 center">
      <a
        href="https://www.mujeremprendedora.net/boxsr-no-vendemos-producto-sino-rutinas-y-queremos-ser-guia-referente-bienestar-felicidad-hombre/"><img
          class="logos" src="../../../../assets/images/logos/mujer-emprendedora.png" alt="asm" /></a>
    </div>
  </div>
</div>

<div class="container-fluid height">
  <div class="row lat">
    <div class="col-12 col-sm-12 col-md-4 center">
      <a
        href="https://ecommerce-news.es/videoentrevista-boxsr-descubriendo-un-ecommerce-de-cosmetica-natural-masculina/"><img
          class="logos" src="../../../../assets/images/logos/commerce.png" alt="asm" /></a>
    </div>
    <div class="col-12 col-sm-12 col-md-4 center">
      <img class="logos" src="../../../../assets/images/logos/autonomo-digital.png" alt="asm" />
    </div>
    <div class="col-12 col-sm-12 col-md-4 center">
      <img class="logos" src="../../../../assets/images/logos/Soybarbudo.png" alt="asm" />
    </div>
  </div>
</div>
<div class="container-fluid height">
  <div class="row lat">
    <div class="col-12 col-sm-12 col-md-4 center">
      <a
        href="http://www.bizkaiairratia.eus/albisteak/ikusi/%22Bosxr%22+start-up+barriak+gizonentzako+kosmetika+produktuak+eskaintzen+dauz/6803"><img
          class="logos" src="../../../../assets/images/logos/Bizkaia Irratia.png" alt="asm" /></a>
    </div>
    <div class="col-12 col-sm-12 col-md-4 center">
      <img class="logos" src="../../../../assets/images/logos/Demium.png" alt="asm" />
    </div>
    <div class="col-12 col-sm-12 col-md-4 center">
      <a
        href="https://www.ivoox.com/conocemos-a-boxsr-techstars-startup-week-audios-mp3_rf_33070999_1.html?utm_source=facebook&utm_medium=social&utm_content=audio&utm_campaign=fb_autopublish&fbclid=IwAR3FYlUXEzQSHS0lbTjZRBO31UBjCUUmwF_IOq4_lIYm-sKKzJ2i27vKe3M"><img
          class="logos" src="../../../../assets/images/logos/onda-vasca.png" alt="asm" /></a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row lat">
    <div class="col-12 col-sm-12 col-md-4 center">
      <a href="https://boxsr.es/pages/hablan-de-nosotros"><img class="logos"
          src="../../../../assets/images/logos/Tele 7.png" alt="asm" /></a>
    </div>
    <div class="col-12 col-sm-12 col-md-4 center">
      <a href="https://boxsr.es/pages/hablan-de-nosotros"><img class="logos"
          src="../../../../assets/images/logos/Spri.png" alt="asm" /></a>
    </div>
  </div>
 
  <div class="container-fluid padding-dos">
    <div class="row">
      <div class="col-12">

        <h1 class="black">¿Quieres saber más sobre nosotros?</h1>
        <h2>Escríbenos a: hola@boxsr.es y estaremos encantado de atenderte.</h2>
      </div>
    </div>
  </div>