:host{

    p-dialog  {
      ::ng-deep {
        .mydialog{
          width: 50vw;
  
          .p-dialog-content{
            text-align: center;
          }
        }
      }
    }
  
    @media screen and (max-width: 40em) {
      p-dialog  {
        ::ng-deep {
          .mydialog{
            width: 75vw;
  
            .p-dialog-content{
              padding: 0;
            }
          }
        }
      }
    }
  
    .container {
      display: flex;
      flex-direction: column;
        .full-width{
          justify-content: center;
          align-items: center;
          
          width: 50%;
        }
        .reduce-with{
          margin-right: 185px;
        }
      }
  }