<div class="container-fluid product-container">
    <div class="row product-container">
        <div class="col-12 col-md-8 product-img" [ngStyle]="{'background-image':'url(' + producto?.imagen_url + ')'}">

        </div>
        <div
        class="col-12 col-md-4 product-text">
        <div>
            <h1>{{ producto?.nombre }}</h1>
            <h3>{{ producto?.descripcion }}</h3>
        </div>
            <div class="container-fluid comprar-ahora">
                <h2>Compra ahora <strong>{{producto?.precio }}</strong></h2>
            </div>
        </div>
    </div>
</div>

<!--sirve-->
<div class="container-fluid description">
    <div class="row">
        <div class="col-12 col-md-4 description-title">
            <h1>¿Para que sirve?</h1>
        </div>
        <div class="col-12 col-md-8 description-text">
            <p>{{ producto?.descripcion_sirve}}</p>
        </div>
    </div>
</div>

<!--uso-->
<div class="container-fluid description">
    <div class="row">
        <div class="col-12 col-md-4 description-title">
            <h1>¿Como se usa?</h1>
        </div>
        <div class="col-12 col-md-8 description-text">
            <p>{{ producto?.descripcion_usa}}</p>
        </div>
    </div>
</div>

<!--ingredientes-->
<div class="container-fluid description">
    <div class="row">
        <div class="col-12 col-md-4 description-title">
            <h1>INGREDIENTES</h1>
        </div>
        <div class="col-12 col-md-8 description-text">
            <p>{{ producto?.descripcion_ingredientes }}</p>

        </div>
    </div>
</div>