* {
  font-family: averta !important;
  color: #4b4a4a;
}

mat-form-field {
  width: 85%;
}

input {
  &:focus {
    outline: none !important;
    outline: 0px !important;
  }
}
.container {
  padding: 5px;
  margin-top: 20px;
}

:host {
  p-sidebar {
    ::ng-deep {
      .p-sidebar {
        z-index: 9999 !important;
      }
    }
  }
}

.registro {
  text-align: center;

  .registro-boton {
    border: #4b4a4a9f 1px solid;
    border-radius: 10px;
    padding: 10px;

    p {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  p {
    margin-bottom: 2px;
  }
}

.promocion {
  margin-top: 10px;
}

button {
  background-color: white;
  color: #4b4a4a;
  border: #4b4a4a 2px solid !important;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  outline: none;
  width: 100%;

  &:hover {
    background-color: #4b4a4a;
    color: white;
    border: #4b4a4a 2px solid !important;
    font-weight: 400;
  }
}
