* {
  font-family: averta !important;
  color: #4b4a4a;
}

mat-form-field {
  width: 85%;
}

input {
  &:focus {
    outline: none !important;
    outline: 0px !important;
  }
}
.container {
  padding: 5px;
  margin-top: 20px;
}

:host {
  p-sidebar {
    ::ng-deep {
      .p-sidebar {
        z-index: 9999 !important;
      }
    }
  }
}

.registro {
  text-align: center;

  .registro-boton {
    border: #4b4a4a9f 1px solid;
    border-radius: 10px;
    padding: 10px;
  }

  p {
    margin-bottom: 2px;
  }
}

.promocion {
  margin-top: 10px;
}
