<p-dialog header="Modificar producto" [(visible)]="display" styleClass="mydialog" [baseZIndex]="10000" (onHide)="cerrarDialogo.emit()">
  <form [formGroup]="productosForm" class="container">
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Nombre de producto</mat-label>
        <input matInput formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">Nombre requerido</div>
        </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Tipo de producto</mat-label>
        <input matInput formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }" />
        <div *ngIf="submitted && f.tipo.errors" class="invalid-feedback">
            <div *ngIf="f.tipo.errors.required">Tipo de producto requerido</div>
        </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Código de producto</mat-label>
        <input matInput formControlName="codigo" [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }" />
      <div *ngIf="submitted && f.codigo.errors" class="invalid-feedback">
          <div *ngIf="f.codigo.errors.required">Código de producto requerido</div>
      </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Peso</mat-label>
        <input matInput formControlName="peso"
          pattern="^\d+(\.\d{1,3})?$"
          digitOnly
          decimal="true"
          decimalSeparator="." [ngClass]="{ 'is-invalid': submitted && f.peso.errors }" />
        <div *ngIf="submitted && f.peso.errors" class="invalid-feedback">
            <div *ngIf="f.peso.errors.required">Peso de producto requerido</div>
        </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Stock</mat-label>
        <input matInput digitOnly formControlName="stock" [ngClass]="{ 'is-invalid': submitted && f.stock.errors }" />
        <div *ngIf="submitted && f.stock.errors" class="invalid-feedback">
          <div *ngIf="f.stock.errors.required">Stock de producto requerido</div>
      </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Precio</mat-label>
        <input matInput
          pattern="^\d+(\.\d{1,2})?$"
          digitOnly
          decimal="true"
          decimalSeparator="." formControlName="precio" [ngClass]="{ 'is-invalid': submitted && f.precio.errors }" />
        <div *ngIf="submitted && f.precio.errors" class="invalid-feedback">
            <div *ngIf="f.precio.errors.required">Precio de producto requerido</div>
        </div>
      </mat-form-field>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="form-group">
    <!-- <button  class="btn btn-primary">
        Crear
    </button> -->
      <button mat-raised-button (click)="onSubmit()">Modificar</button>
    </div>
  </ng-template>

</p-dialog>
