<p-dialog header="Modificar producto" [(visible)]="display" styleClass="mydialog" [baseZIndex]="10000" (onHide)="cerrarDialogo.emit()">

  <div class="avatar-upload">
    <div class="avatar-edit">
      <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
      <label for="imageUpload" *ngIf="editFile" [ngClass]="['custom-label', 'upload-image']"></label>
      <label *ngIf="removeUpload" [ngClass]="['custom-label', 'remove-image']" (click)="removeUploadedFile()"></label>
    </div>
    <div class="avatar-preview">
      <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
      </div>
    </div>
  </div>


  <form [formGroup]="productosForm" class="container">
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Nombre de producto</mat-label>
        <input matInput formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">Nombre requerido</div>
        </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Tipo de producto</mat-label>
        <input matInput formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }" />
        <div *ngIf="submitted && f.tipo.errors" class="invalid-feedback">
            <div *ngIf="f.tipo.errors.required">Tipo de producto requerido</div>
        </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Código de producto</mat-label>
        <input matInput formControlName="codigo" [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }" />
      <div *ngIf="submitted && f.codigo.errors" class="invalid-feedback">
          <div *ngIf="f.codigo.errors.required">Código de producto requerido</div>
      </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Peso</mat-label>
        <input matInput formControlName="peso"
          pattern="^\d+(\.\d{1,3})?$"
          digitOnly
          decimal="true"
          decimalSeparator="." [ngClass]="{ 'is-invalid': submitted && f.peso.errors }" />
        <div *ngIf="submitted && f.peso.errors" class="invalid-feedback">
            <div *ngIf="f.peso.errors.required">Peso de producto requerido</div>
        </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Precio</mat-label>
        <input matInput
          pattern="^\d+(\.\d{1,2})?$"
          digitOnly
          decimal="true"
          decimalSeparator="." formControlName="precio" [ngClass]="{ 'is-invalid': submitted && f.precio.errors }" />
        <div *ngIf="submitted && f.precio.errors" class="invalid-feedback">
            <div *ngIf="f.precio.errors.required">Precio de producto requerido</div>
        </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Descripción de producto</mat-label>
        <textarea matInput formControlName="descripcion" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }"></textarea>
      <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
          <div *ngIf="f.descripcion.errors.required">Descripción de producto requerido</div>
      </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Resumen de producto</mat-label>
        <textarea matInput formControlName="resumen" [ngClass]="{ 'is-invalid': submitted && f.resumen.errors }"></textarea>
      <div *ngIf="submitted && f.resumen.errors" class="invalid-feedback">
          <div *ngIf="f.resumen.errors.required">Resumen de producto requerido</div>
      </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Descripción de utilidad</mat-label>
        <textarea matInput formControlName="utilidad" [ngClass]="{ 'is-invalid': submitted && f.utilidad.errors }" ></textarea>
      <div *ngIf="submitted && f.utilidad.errors" class="invalid-feedback">
          <div *ngIf="f.utilidad.errors.required">Descripción de utilidad requerido</div>
      </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Descripción de usabilidad</mat-label>
        <textarea matInput formControlName="usabilidad" [ngClass]="{ 'is-invalid': submitted && f.usabilidad.errors }"></textarea>
      <div *ngIf="submitted && f.usabilidad.errors" class="invalid-feedback">
          <div *ngIf="f.usabilidad.errors.required">Descripción de usabilidad requerido</div>
      </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Ingredientes</mat-label>
        <textarea matInput formControlName="ingredientes" [ngClass]="{ 'is-invalid': submitted && f.ingredientes.errors }"></textarea>
      <div *ngIf="submitted && f.ingredientes.errors" class="invalid-feedback">
          <div *ngIf="f.ingredientes.errors.required">Ingredientes requerido</div>
      </div>
      </mat-form-field>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="form-group">
    <!-- <button  class="btn btn-primary">
        Crear
    </button> -->
      <button mat-raised-button (click)="onSubmit()">Modificar</button>
    </div>
  </ng-template>

</p-dialog>
