<div class="container-fluid padding">
  <div class="col-12">
    <div class="row">
      <h2 class="black">Aviso legal</h2>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <H1 class="black">QUIÉNES SOMOS</H1>
    </div>
  </div>
  <div class="col-12 ">
    <div class="row">
      <h4>URL de la web: www.boxsr.es</h4>
      <h4>Contacto: hola@boxsr.es</h4>
      <h4>El presente sitio web ha sido desarrollado por SAMA BOX,S.L. con CIF B95981536 y domicilio social en Calle
        Uribitarte, 6-2ª Planta, 48001 Bilbao (Bizkaia) (en adelante, BOXSR).</h4>
      <h4>Asimismo, informamos que todos nuestros productos son fabricados de conformidad con lo dispuesto en el
        artículo 18 del Real Decreto 1599/97, de 17 de octubre sobre productos cosméticos, modificado por los Reales
        Decretos 2131/2004 de 29 de octubre y 209/2005, de 25 de febrero, a propuesta de la Subdirección General de
        Productos Sanitarios y su fabricante dispone de la autorización de actividades de instalación de cosméticos,
        emitida por la Agencia Española de Medicamentos y Productos Sanitarios del Ministerio de Sanidad y Política
        Social, con el número de autorización 8333CS.</h4>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <h1 class="black">TÉRMINOS Y CONDICIONES GENERALES DE ACCESO Y USO DE LA PÁGINA WEB</h1>
      <h2 class="black">ACCESO Y USUARIOS</h2>
      <h4>BOXSR ofrece el acceso al sitio web www.boxsr.es en las condiciones de uso que se describen a continuación:

        El acceso a su web atribuye a quien lo realiza la condición de USUARIO, y expresa la aceptación plena y sin
        reservas por parte del USUARIO de todas y cada una de las presentes CONDICIONES DE USO, sin perjuicio de las
        condiciones particulares que sea preciso aplicar en el caso de que el USUARIO desee contratar alguno de los
        bienes y servicios que se le ofrecen. </h4>
      <h4>La prestación del servicio del sitio web tiene carácter gratuito. Ello no obstante, BOXSR se reserva la
        posibilidad de condicionar el acceso a algunos servicios al previo registro del USUARIO, mediante la
        cumplimentación del Formulario de Alta de Usuario, que se encuentra a disposición de quien desee registrarse
        como USUARIO REGISTRADO.</h4>
      <h4>Cuando sea necesario que el USUARIO se registre como USUARIO REGISTRADO o aporte datos personales para poder
        acceder a alguno de los servicios específicos, la recogida y tratamiento de los datos personales de los USUARIOS
        será de aplicación lo dispuesto en el capítulo sobre Seguridad y Protección de datos de carácter personal.</h4>

      <h2 class="black">MODIFICACIONES</h2>
      <h4>BOXSR, con el fin de mejorar las prestaciones del sitio web, se reserva el derecho a modificar, ampliar o
        suspender temporalmente la presentación, configuración, especificaciones técnicas, contenidos y servicios del
        sitio web, en cualquier momento de forma unilateral y sin previa notificación al USUARIO.</h4>
      <h4>Asimismo, se reserva el derecho a modificar en cualquier momento las presentes condiciones de uso, así como
        cualesquiera otras condiciones particulares contenidas en el sitio web www.boxsr.es.</h4>
      <h2 class="black">ACCESIBILIDAD</h2>
      <h4>En BOXSR nos hemos marcado como objetivo prioritario que todas las personas, con independencia de su
        discapacidad, edad o de la tecnología utilizada, puedan navegar por las páginas de la web de nuestra empresa sin
        encontrar dificultades de acceso.</h4>
      <h4> Con este propósito, el desarrollo de la web www.boxsr.es se ha basado en el cumplimiento de las Pautas de
        Accesibilidad al Contenido en la Web X.0 establecidas por el W3C (Consorcio de la World Wide Web).</h4>
      <h2 class="black">CONTENIDO</h2>
      <h4>BOXSR garantiza que todos los contenidos y servicios que se ofrecen en www.boxsr.es respetan el
        principio
        de dignidad de la persona, el principio de no-discriminación por motivos de raza, sexo, religión,
        opinión,
        nacionalidad, discapacidad o cualquier otra circunstancia personal y social, así como el principio de
        protección de la juventud y de la infancia.</h4>
      <h2 class="black">CONDICIONES DE USO</h2>
      <h4>El USUARIO se compromete a realizar un buen uso de los contenidos y servicios de www.boxsr.es, que
        nunca
        podrán ser utilizados para actividades ilícitas o que puedan ser contrarias al orden público, la defensa
        nacional o la salud pública. Cualquier utilización por parte del USUARIO de los contenidos y servicios
        habrá
        de respetar los principios indicados en el párrafo anterior.</h4>
      <h4>El USUARIO está expresamente autorizado para visualizar toda la información contenida en el sitio web,
        así
        como para efectuar reproducciones privadas de la misma en sus sistemas informáticos, siempre y cuando
        dichos
        contenidos sean para su uso exclusivo y no sean posteriormente cedidos a terceros.</h4>
      <h2 class="black">PROPIEDAD INTELECTUAL E INDUSTRIAL</h2>
      <h4>Los derechos de propiedad intelectual e industrial contenidos en la página web de www.boxsr.es, su
        diseño gráfico y códigos informáticos, así como los nombres comerciales, marcas y signos distintivos son
        titularidad de BOXSR, salvo que en las mismas se indique que pertenecen a otro titular.

        Cualquier reproducción, distribución, comercialización o transformación de los contenidos que no haya
        sido expresamente autorizada por sus titulares, constituye una infracción de los derechos de propiedad
        intelectual e industrial protegidos por la Ley.

        BOXSR podrá ejercer todas las acciones administrativas, civiles o penales que le correspondan en caso de
        infracción de estos derechos por parte del USUARIO.
      </h4>
      <h2 class="black">PROPIEDAD INTELECTUAL E INDUSTRIAL</h2>
      <h4>Los derechos de propiedad intelectual e industrial contenidos en la página web de www.boxsr.es, su
        diseño gráfico y códigos informáticos, así como los nombres comerciales, marcas y signos distintivos son
        titularidad de BOXSR, salvo que en las mismas se indique que pertenecen a otro titular.

        Cualquier reproducción, distribución, comercialización o transformación de los contenidos que no haya
        sido expresamente autorizada por sus titulares, constituye una infracción de los derechos de propiedad
        intelectual e industrial protegidos por la Ley.

        BOXSR podrá ejercer todas las acciones administrativas, civiles o penales que le correspondan en caso de
        infracción de estos derechos por parte del USUARIO.</h4>
      <h2 class="black">EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDADES</h2>
      <h4>El acceso y la utilización de la página web www.boxsr.es se realizarán bajo la única y exclusiva
        responsabilidad del USUARIO.

        BOXSR no se responsabiliza de la exactitud, veracidad y vigencia de las informaciones que no sean de
        elaboración propia y cuyos contenidos pertenezcan a fuentes de información de terceros ajenos a ella. Al
        respecto, BOXSR sólo responderá de los servicios propios y contenidos directamente originados por ella e
        identificados con su Copyright como una marca o propiedad intelectual o industrial de BOXSR.

        BOXSR no garantiza ni se responsabiliza de los daños y perjuicios de toda naturaleza que se deban a las
        siguientes circunstancias en www.boxsr.es:

        La falta de continuidad del funcionamiento, así como el funcionamiento incorrecto de la página web.

        La falta de utilidad, adecuación o validez de los servicios y contenidos respecto a los resultados y
        expectativas del USUARIO.

        La existencia de virus o programas en el ordenador del USUARIO o por la presencia de virus en los servicios
        prestados por terceros a través de la web.

        El conocimiento que puedan tener terceros no autorizados de la clase, condiciones, características y
        circunstancias de acceso y uso que los USUARIOS hacen del sitio web y de las informaciones y servicios.

        Bajo ninguna circunstancia, incluida la negligencia, de la pérdida de negocio, pérdida de uso, pérdida de
        beneficios, pérdida de datos, por daños indirectos, secundarios, especiales o consecuentes que resulten del
        acceso o del uso de los servicios del sitio web, o que de otra forma se encuentren dentro del ámbito.</h4>

    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <h1 class="black">POLÍTICA DE COOKIES</h1>
      <h4>BOXSR, por su propia cuenta, o la de terceros contratados para la prestación de servicios de medición,
        análisis y publicidad, utiliza cookies cuando un usuario navega por el sitio web. Las cookies son ficheros
        enviados al navegador por medio de un servidor web con la finalidad de registrar las actividades del usuario,
        durante su tiempo de navegación.

        Mediante el uso de las cookies resulta posible que el servidor donde se encuentra la web, reconozca el navegador
        web utilizado por el usuario con la finalidad de que la navegación sea más sencilla, permitiendo, por ejemplo,
        el acceso a los usuarios que se hayan registrado previamente, acceder a las áreas, servicios, promociones o
        concursos reservados exclusivamente a ellos sin tener que registrarse en cada visita. Se utilizan también para
        medir la audiencia y parámetros del tráfico, controlar el progreso y número de entradas.</h4>
      <h2 class="black">TIPOS DE COOKIES</h2>
      
      <h4>
        <ul> Exceptuadas:
          <li> Cookies de entrada de usuario.</li>
          <li> Cookies de identificación o autenticación del usuario (únicamente de sesión).</li>
          <li> Cookies de seguridad del usuario.</li>
          <li> Cookies de reproductor multimedia.</li>
          <li>Cookies de sesión para equilibrar la carga.</li>
          <li>Cookies de personalización de la interfaz de usuario.</li>
          <li>Cookies de complemento (plug-in) para intercambiar contenidos sociales</li>
        </ul>
        <ul>No exceptuadas:
          <li>El resto de cookies</li>
        </ul>
       Cookies según entidad que las gestione:
      Cookies propias: Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio
        gestionado
        por el propio editor y desde el que se presta el servicios solicitado por el usuario.

        Cookies de tercero: Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio que no
        es gestionado por el editor, sino por otra entidad que trata los datos obtenidos a través de las cookies.

      Cookies según finalidad.
       Cookies de análisis: Son aquellas que, bien tratadas por el titular del sitio, o por terceros, permiten
        cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización, que hacen
        los usuarios del servicio ofertado.
        Para ello, se analiza su navegación en la página web, con el fin de mejorar la oferta de productos o servicios
        que le ofrecemos.

        Cookies publicitarias: Son aquellas que permiten la gestión, de la forma más eficaz posible, de los espacios
        publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que
        presta el servicio solicitado en base a criterios como el contenido editado o la frecuencia en la que se
        muestran los anuncios.

        Cookies sociales: Son necesarias para las redes sociales externas (Facebook, Google, Twitter, Pinterest,
        Instagram, etc…). Su función es controlar la interacción con los widgets sociales dentro de la página.

        Cookies de publicidad comportamental: Son aquellas que permiten la gestión, de la forma más eficaz posible, de
        los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma
        desde la que presta el servicio solicitado. Estas cookies almacenan información del comportamiento de usuarios
        obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un
        perfil específico para mostrar publicidad en función del mismo.</h4>


      <h4>

        También es posible que al visitar alguna página web o al abrir algún email donde se publique algún anuncio o
        alguna promoción sobre determinados productos o servicios, se instale en el navegador alguna cookie que se
        utiliza para mostrar posteriormente publicidad relacionada con la búsqueda que se haya realizado, para
        desarrollar un control de los anuncios en relación, por ejemplo, con el número de veces que son vistos, dónde
        aparecen, a qué hora se ven, etc…

        A continuación se indica que Cookies no excluidas, propias, o de terceros, se utilizan en el sitio web.

        Google Analytics:

        (Cookies analíticas de terceros)

        Google, Inc., 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos («Google»).

        Google Analytics utiliza «cookies», que son archivos de texto ubicados en su ordenador, para ayudar al website a
        analizar el uso que hacen los usuarios del sitio web. La información que genera la cookie acerca de su uso del
        website (incluyendo su dirección IP) será directamente transmitida y archivada por Google en los servidores de
        Estados Unidos. Google usará esta información, por cuenta nuestra, con el propósito de seguir la pista de su uso
        del website, recopilando informes de la actividad del website y prestando otros servicios relacionados con la
        actividad del website y el uso de Internet.

        Google podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos
        terceros procesen la información por cuenta de Google. Google no asociará su dirección IP con ningún otro dato
        del que disponga Google.

        Al utilizar este website Usted consiente el tratamiento de información acerca de Usted por Google en la forma y
        para los fines arriba indicados.

        En todo caso, le informamos que para instar a la cancelación de los posibles tratamientos de datos llevados a
        cabo por Google, deberá dirigirse esa compañía, a tal efecto. El prestador no tiene la capacidad técnica ni
        legal, para proceder al cese en el tratamiento de datos fuera del ámbito delimitado por los ficheros y medios
        técnicos de su titularidad. Y no se le podrán exigir responsabilidades en este sentido.

        Más información en:

        www.google.es/intl/es/policies/technologies/types/
        https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage
      </h4>
      <h2 class="black">TRADUCCIÓN A OTROS IDIOMAS</h2>
      <h4>Toda la información y documentación disponible en las versiones en otros idiomas de la presente página web se
        proporciona únicamente a efectos informativos. En caso de discrepancia entre el contenido de la versión en otros
        idiomas y el de la versión original en español prevalecerá el de esta última.</h4>
      <h2 class="black">JURISDICCIÓN Y LEGISLACIÓN APLICABLE</h2>
      <h4>Las presentes Condiciones de Uso se regirán por lo dispuesto en la legislación española.

        En el caso de que se produzca cualquier discrepancia o controversia con motivo de la interpretación o la
        aplicación de las presentes Condiciones de Uso o del contenido de la página webs, en general, BOXSR y el
        USUARIO, con renuncia expresa a cualquier otro fuero que pudiera corresponderles, se someten a la jurisdicción
        de los Juzgados y Tribunales del domicilio del USUARIO. En el supuesto de que el USUARIO tenga su domicilio
        fuera de España, BOXSR y el USUARIO, con renuncia expresa a cualquier otro fuero que pudiera corresponderles, se
        someten a la jurisdicción de los Juzgados y Tribunales de la ciudad de Bilbao. </h4>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <h1 class="black">SEGURIDAD Y PROTECCIÓN DE DATOS DE CARÁCTER PERSONAL</h1>
      <h4>Alta en los servicios como usuario registrado

        Para acceder a determinados servicios será preciso darse de alta como USUARIO REGISTRADO de www.boxsr.es. Los
        datos para cumplimentar el Formulario de Alta se facilitan de manera libre y voluntaria, de manera que los datos
        habrán de ser ciertos y ajustados a la realidad.

        El USUARIO se compromete a hacer un uso diligente y a no poner a disposición de terceros su nombre de usuario y
        contraseña, así como a comunicar a BOXSR, con la mayor brevedad, la pérdida, robo o cualquier riesgo de acceso a
        los mismos por un tercero.

        Al darse de alta como USUARIO REGISTRADO, el USUARIO consiente que sus datos personales y/o cualquier otro dato
        facilitado sean tratados de forma automatizada o manual.</h4>
      <h2 class="black">PROTECCIÓN DE DATOS PERSONALES</h2>
      <h4>En BOXSR cuidamos de ti. Por eso, garantizamos la seguridad y confidencialidad de los datos de carácter
        personal que nos facilitas como USUARIO de www.boxsr.es, siendo la empresa responsable de los datos SAMA
        BOX,S.L.(CIF B95981536), cumpliendo con lo dispuesto en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección
        de Datos Personales y garantía de los derechos digitales y el Reglamento (UE) 2016/679 del Parlamento Europeo y
        del Consejo de 27 de abril de 2016, relativo a la protección de las personas físicas, en lo que respecta al
        tratamiento de datos personales y a la libre circulación de estos datos (RGPD).

        La recogida y tratamiento de los datos personales tiene como única finalidad, salvo que se indique otra cosa en
        los formularios del sitio web donde se recaben los datos del USUARIO, la gestión de la información suministrada
        en las consultas y de los pedidos realizados, que el USUARIO realice a BOXSR. a través del sitio web, controlar
        el cumplimiento de las condiciones de uso del sitio web y cumplir con nuestras obligaciones legales.

        Los datos que se soliciten al USUARIO en los formularios del sitio web tendrán carácter obligatorio salvo que se
        indique lo contrario en el formulario correspondiente. En el caso de que el USUARIO no facilite los datos
        solicitados con carácter obligatorio, BOXSR no podrá tramitar el formulario de que se trate.

        Los datos obtenidos están sujetos a las medidas de seguridad y política de privacidad aprobadas por BOXSR de
        acuerdo con la normativa vigente en cada momento.

        En caso de que en la solicitud deban incluirse datos de carácter personal, referentes a personas físicas
        distintas de la que la efectúa, el usuario deberá, con carácter previo a su inclusión, informarles del contenido
        de la presente cláusula, de acuerdo con lo establecido en la Ley Orgánica 3/2018, de 5 de diciembre, de
        Protección de Datos Personales y garantía de los derechos digitales y el Reglamento (UE) 2016/679 del Parlamento
        Europeo y del Consejo de 27 de abril de 2016, relativo a la protección de las personas físicas, en lo que
        respecta al tratamiento de datos personales y a la libre circulación de estos datos (RGPD).

        Según ambas normativas, podrás ejercer en todo momento los derechos de acceso, rectificación, oposición y
        cancelación de tus datos personales, dirigiendo un escrito, adjuntando copia de tu DNI o Pasaporte, por los
        medios previstos en las mismas.</h4>
    </div>
  </div>

</div>