<!-- slider -->
<div class="container-fluid slider">
    <div class="row slider-text">
        <div class="col-12">
            <button routerLink="/shop">GO TO SHOP</button>
            <h2>3 pasos al dia, 3 minutos al dia</h2>
            <h1>COSMÉTICA MASCULINA MEDITERRÁNEA</h1>
        </div>
    </div>
</div>

<!-- bienvenido -->
<div class="container-fluid bienvenido">
    <div class="row">
        <div class="col-12">
            <h1>Bienvenido a la revolución masculina</h1>
        </div>
    </div>

    <div class="row steps-container">
        <div class="col-12 col-md-4 step">
            <a routerLink="/contacto">
                <p class="step-number">1</p>
                <p>¿Eres nuevo y no sabes que tipo de piel tienes?</p>
                <h3><strong>¡Consulta con nuestro especialista!</strong></h3>
            </a>
        </div>

        <div class="col-12 col-md-4 step">
            <a routerLink="/muestras">
                <p class="step-number">2</p>
                <p>¿Quieres probar las cremas antes de comprar?</p>
                <h3><strong>¡Pide muestras gratuitas!</strong></h3>
            </a>
        </div>

        <div class="col-12 col-md-4 step">
            <a routerLink="/shop">
                <p class="step-number step3">3</p>
                <p>¿Te gustan las cosas buenas que te simplifican la vida?</p>
                <h3><strong>¡Boxr es para ti!</strong></h3>
            </a>
        </div>
    </div>
</div>

<!--3 images-->
<div class="container-fluid section1">
    <div class="row">
        <div class="col-12 col-md-4 test" routerLink="/shop">
            <button>TEST DE PIEL</button>
        </div>
        <div class="col-12 col-md-4 muestras" routerLink="/muestras">
            <button>MUESTRAS</button>
        </div>
        <div class="col-12 col-md-4 boxes" routerLink="/shop">
            <button>BOXES</button>
        </div>
    </div>
</div>

<!--best sellers-->
<div class="container-fluid section2">
    <div class="row">
        <div class="col-12 col-md-4 face1">
        </div>
        <div class="col-12 col-md-4 best-sellers">
            <div class="container-fluid best-sellers-container">
                <h2>
                    BOX ANTIARRUGAS
                </h2>
                <h1 class="best">
                    BEST SELLERS
                </h1>
                <h2>
                    BOX GOOD FACE
                </h2>
            </div>
        </div>
        <div class="col-12 col-md-4 face2">
        </div>
    </div>
</div>

<!--ingredientes-->
<div class="container-fluid section3">
    <div class="row">
        <div class="col">
            <button>BUSCAMOS LOS INGREDIENTES CON LA MÁXIMA CALIDAD Y EFECTIVIDAD</button>
        </div>
    </div>
</div>

<!--consulta-->
<div class="container-fluid section4">
    <div class="row">
        <div class="col-12 col-md-4 text-col">
            <div class="text-box">
                <p>¿Necesitas ayuda?</p>
                <h1><strong>Consulta gratuita con un experto de BOXSR</strong></h1>
                <p>Te resolvemos todas tus dudas en una <strong>sesión de 10 minutos por llamada o videolalmada</strong>
                </p>
                <button>RESERVAR</button>
            </div>

        </div>
        <div class="col-12 col-md-8 consulta-image"></div>
    </div>
</div>

<!--REVIEWS COMPONENT-->
<!--FOOTER COMPONENT-->