// global styles
* {
  font-family: averta !important;
}

body {
  overflow-x: hidden;
}

button {
  background-color: white;
  color: #4b4a4a;
  border: #4b4a4a 2px solid !important;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  outline: none;

  &:hover {
    background-color: #4b4a4a;
    color: white;
    border: #4b4a4a 2px solid !important;
    font-weight: 400;
  }
}

//Slider
.slider {
  margin-top: -70px;
  height: 90vh;
  background-image: url(../../../assets/images/sliderrecortada-home.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.slider-text {
  margin: 10px;

  h1 {
    color: #4b4a4a;
    font-size: 30px;
    font-weight: 700;
  }
  h2 {
    margin-bottom: 5px;
    margin-top: 5px;
    color: #4b4a4a;
  }

  button {
    margin-bottom: 5px;
  }
}

//Intro 3 steps
.bienvenido {
  margin: 20px 0px 30px 0px;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.steps-container {
  display: flex;

  .step {
    display: flex;
    text-align: center;
    justify-content: center;

    &:hover {
      transform: scale(1.1);
      transition: 0.2s;
    }
  }
  a {
    text-decoration: none;
    color: #4b4a4a;
    display: flex;
    flex-direction: column;

    .step-number {
      color: white;
      background-color: #4b4a4a;
      width: 30px;
      height: 30px;
      padding: 5px;
      margin-left: 135px;
      margin-right: 135px;

      border-radius: 50px;
    }

    .step3 {
      margin-left: 160px;
      margin-right: 160px;
    }
  }
}

//Section 3 images
.section1 {
  height: 90vh;
  margin-top: 20px;

  .row {
    height: 100%;
  }

  .test {
    background-image: url(../../../assets/images/test-home.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 20px 0px;
    cursor: pointer;
    border: #4b4a4a 1px solid;

    &:hover {
      button {
        background-color: #4b4a4a;
        color: white;
        border: #4b4a4a 2px solid !important;
        transition: 0.3s;
        font-weight: 400;
      }
    }
  }

  .muestras {
    background-image: url(../../../assets/images/muestras-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 20px 0px;
    cursor: pointer;
    border: #4b4a4a 1px solid;

    &:hover {
      button {
        background-color: #4b4a4a;
        color: white;
        border: #4b4a4a 2px solid !important;
        transition: 0.3s;
        font-weight: 400;
      }
    }
  }

  .boxes {
    background-image: url(../../../assets/images/boxes-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 20px 0px;
    cursor: pointer;
    border: #4b4a4a 1px solid;

    &:hover {
      button {
        background-color: #4b4a4a;
        color: white;
        border: #4b4a4a 2px solid !important;
        transition: 0.3s;
        font-weight: 400;
      }
    }
  }
}

//Section faces - best sellers
.section2 {
  height: 90vh;
  .row {
    height: 100%;
  }
  .face1 {
    background-image: url(../../../assets/images/Antiarrugas-facehome.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 20px 0px;
    cursor: pointer;
    border: #4b4a4a 1px solid;
    transition: 0.2s;

    &:hover {
      background-image: url(../../../assets/images/face2recortada-home.png);
      transition: 0.5s;
    }
  }

  .face2 {
    background-image: url(../../../assets/images/goodface-facehome.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 20px 0px;
    cursor: pointer;
    border: #4b4a4a 1px solid;
    transition: 0.2s;

    &:hover {
      background-image: url(../../../assets/images/face1recortada-home.jpg);
      transition: 0.5s;
    }
  }

  .best-sellers {
    border: #4b4a4a 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0px;

    .best-sellers-container {
      padding: 0px;
      text-align: center;
    }
    .best {
      border: #4b4a4a 1px solid;
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    h2 {
      font-size: 40px;
    }
  }
}

//Section ingredientes
.section3 {
  height: 60vh;
  background-image: url(../../../assets/images/exfoliante-home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 20px 0px;
  cursor: pointer;
  border: #4b4a4a 1px solid;

  &:hover {
    button {
      background-color: #4b4a4a;
      color: white;
      border: #4b4a4a 2px solid !important;
      transition: 0.3s;
      font-weight: 400;
    }
  }

  h1 {
    color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 13px rgba(0, 0, 0, 1);
    margin-top: 5px;
  }
}

//Section consulta
.section4 {
  height: 60vh;

  .row {
    height: 100%;
  }

  .text-col {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4b4a4a;
  }

  .text-box {
    width: 80%;
    color: #4b4a4a;
  }

  .consulta-image {
    background-image: url(../../../assets/images/consultacortada-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// MEDIA QUERIES ------------------------------------------------------------------------------------------
@media (max-width: 575.98px) {
  .slider {
    .slider-text {
      width: 100%;

      h1 {
        font-size: 14px;
        margin-bottom: 0px;
      }
      h2 {
        margin: 0px;
      }
    }
  }
  .section2 {
    h2 {
      font-size: 40px;
    }
  }
  .section3 {
    height: 30vh;
  }

  .section3 {
    h1 {
      font-size: 12px;
      margin-bottom: 5px;
      margin-top: 0px;
    }

    button {
      font-size: 12px;
      padding: 5px;
    }
  }

  .section4 {
    height: 60vh;
    h1 {
      font-size: 12px;
      margin-bottom: 0px;
    }
    p {
      margin-bottom: 0px;
    }
    button {
      margin-top: 5px;
      font-size: 12px;
      padding: 5px;
    }
    .text-col {
      height: 30vh;
    }

    .consulta-image {
      height: 30vh;
    }
  }
}
