<div class="container-fluid padding ">
  <div class="row">
    <div class="col-12">

      <h1 class="black">El corazón de nuestra cosmética</h1>
      <h3>Hemos selccionado los ingredientes de la mejor calidad combinando lo que nos ofrece la naturaleza
        con los últimos avances científicos gracias a nuestro laboratorio con 30 años de experiencia especializado en
        dermocosmética.
      </h3>
      <h4>Los principios activos son los ingredientes responsables de cumplir la función especñífica en la piel para la
        que están destinados</h4>
      <h4 class="italic">¡Descube los ingredientes activos que utilizamos!</h4>

    </div>
  </div>
</div>

<div class="container-fluid pd-top-bottom">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-3">
      <div class="div-imagen ingred">
        <div>
          <h4>CALENDULA</h4>
          Hacen que tu piel esté más tersa y suave, relaja las durezas y tiene propiedades antiinflamatorias y
          cicatrizantes, revitalizando la piel agredida y sensible
        </div>
        <img class="desvanecer" src='../../../assets/images//aceite_.jpg' />
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-3">
      <div class="div-imagen ingred">
        <div>
          <h4>ALPHA BISABOBOL</h4>
          Tiene propiedades calmantes, reparadoras, antiinflamatorias y antimicrobianas. Es eficaz para calmar las irritaciones de las pieles sensibles y reactivas, aliviando y restaurando su confort.
        </div>
        <img class="desvanecer" src='../../../assets/images//aceite_.jpg' />
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-3">
      <div class="div-imagen ingred">
        <div>
          <h4>AGUACATE</h4>
          Actúa como un verdadero agente nutritivo que proporciona elasticidad y consistencia a la piel, dejándola tersa y extremadamente suave. Tiene una función sebo reguladora ideal para pieles grasas o con tendencia acnéica.
        </div>
        <img class="desvanecer" src='../../../assets/images//aceite_.jpg' />
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-3">
      <div class="div-imagen ingred">
        <div>
          <h4>ALOE VERA</h4>
          Genera una acción antiinflamatoria, cicatrizante, bactericida y antimicótica. Te ayuda a luchar contra los radicales libres y regenera el tejido cutáneo.
        </div>
        <img class="desvanecer" src='../../../assets/images//aceite_.jpg' />
      </div>
    </div>

    </div>
  </div>

  <div class="container-fluid pd-top-bottom">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-3">
      <div class="div-imagen ingred">
        <div>
          <h4>VITAMINA C</h4>
          Posee propiedades antioxidantes protegiendo a tu piel de los radicales libres, contribuye a la producción de colágeno, ayuda a reducir los daños producidos en la exposición solar y favorece la eliminación de manchas.
        </div>
        <img class="desvanecer" src='../../../assets/images//aceite_.jpg' />
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-3">
      <div class="div-imagen ingred">
        <div>
          <h4>GINGKO</h4>
          Al activar la circulación facial ayuda a mejorar la elasticidad de tu piel, hidrata la epidermis y aumenta la renovación celular.
        </div>
        <img class="desvanecer" src='../../../assets/images//aceite_.jpg' />
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-3">
      <div class="div-imagen ingred">
        <div>
          <h4>EXTRACTO DE REGALIZ</h4>
          Es un ingrediente imprescindible en la cosmética coreana por su capacidad para disimular las manchas, calmar las células cutáneas e igualar el tono de tu piel.
        </div>
        <img class="desvanecer" src='../../../assets/images//aceite_.jpg' />
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-3">
      <div class="div-imagen ingred">
        <div>
          <h4>VITAMINA E</h4>
          Contribuye a combatir el envejecimiento por su acción frente a los radicales libres y te protege de la radicación UV  y de las agresiones oxidativas sobre tu piel.
        </div>
        <img class="desvanecer" src='../../../assets/images//aceite_.jpg' />
      </div>
    </div>

    </div>
  </div>

  <div class="container-fluid pd-top-bottom">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3">
        <div class="div-imagen ingred">
          <div>
            <h4>MIMOSA</h4>
            Tiene un efecto refrescante, protector, suavizante y antiinflamatorio sobre tu piel.
          </div>
          <img class="desvanecer" src='../../../assets/images//aceite_.jpg' />
        </div>
      </div>
  
      <div class="col-12 col-sm-12 col-md-3">
        <div class="div-imagen ingred">
          <div>
            <h4>HAMMAMELIS</h4>
            Es ideal para el tratamiento de inflamaciones e irritaciones, sirve como descongestionante de la piel y detiene las hemorragias de pequeñas heridas.
          </div>
          <img class="desvanecer" src='../../../assets/images//aceite_.jpg' />
        </div>
      </div>
  
      
  
      </div>
    </div>
  <!-- 
<div class="container-fluid">
  <div class="row">
  <div class="col-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">CALÉNDULA</h5>
    <p class="card-text">Hacen que tu piel esté más tersa y suave, relaja las durezas y tiene propiedades antiinflamatorias y cicatrizantes, revitalizando la piel agredida y sensible.</p>
  </div>
</div>
</div>
<div class="col-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">ALPHA BISABOOL</h5>
    <p class="card-text">Tiene propiedades calmantes, reparadoras, antiinflamatorias y antimicrobianas. Es eficaz para calmar las irritaciones de las pieles sensibles y reactivas, aliviando y restaurando su confort.</p>
  </div>
</div>
</div>
<div class="col-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">AGUACATE</h5>
    <p class="card-text">
      Actúa como un verdadero agente nutritivo que proporciona elasticidad y consistencia a la piel, dejándola tersa y extremadamente suave. Tiene una función sebo reguladora ideal para pieles grasas o con tendencia acnéica.</p>
  </div>
</div>
</div>
<div class="col-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">ALOE VERA</h5>
    <p class="card-text">
      Genera una acción antiinflamatoria, cicatrizante, bactericida y antimicótica. Te ayuda a luchar contra los radicales libres y regenera el tejido cutáneo. </p>
  </div>
</div>
</div>
</div>
<div class="container-fluid">
  <div class="row">
  <div class="col-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">VITAMINA C</h5>
    <p class="card-text"> Posee propiedades antioxidantes protegiendo a tu piel de los radicales libres, contribuye a la producción de colágeno, ayuda a reducir los daños producidos en la exposición solar y favorece la eliminación de manchas.</p>
  </div>
</div>
</div>
<div class="col-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">GINGKO</h5>
    <p class="card-text">Al activar la circulación facial ayuda a mejorar la elasticidad de tu piel, hidrata la epidermis y aumenta la renovación celular.</p>
  </div>
</div>
</div>
<div class="col-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">AGUACATE</h5>
    <p class="card-text">
      Actúa como un verdadero agente nutritivo que proporciona elasticidad y consistencia a la piel, dejándola tersa y extremadamente suave. Tiene una función sebo reguladora ideal para pieles grasas o con tendencia acnéica.</p>
  </div>
</div>
</div>
<div class="col-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">ALOE VERA</h5>
    <p class="card-text">
      Genera una acción antiinflamatoria, cicatrizante, bactericida y antimicótica. Te ayuda a luchar contra los radicales libres y regenera el tejido cutáneo. </p>
  </div>
</div>
</div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">VITAMINA C</h5>
    <p class="card-text">
     </p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">GINGKO</h5>
    <p class="card-text">
      </p>
  </div>
</div>
</div> -->