* {
  font-family: averta !important;
  color: #4b4a4a;
}

.row {
  min-height: 60vh;
}

.text-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4b4a4a;
  padding: 50px;
}

form {
  padding-left: 0px;
}

.box {
  border: #4b4a4a 1px solid;
  border-right: none;
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-right: 20px;
  width: 80%;
}

.img {
  background-image: url(../../../assets/images/Contornodeojos.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: #4b4a4a 1px solid;
  min-height: 30vh;
}

button {
  background-color: white;
  color: #4b4a4a;
  border: #4b4a4a 1px solid !important;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  outline: none;

  &:hover {
    background-color: #4b4a4a;
    color: white;
    border: #4b4a4a 1px solid !important;
    font-weight: 400;
  }
}
