* {
    font-family: averta !important;
    color: #4B4A4A;
  }
  .black{
    font-weight: revert;
  }
  .italic{
    font-style: italic;
  }
  .padding{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
  }
.contact{
    padding: 4%;
    height: 15%;
}

// .col-md-3{
  
//     padding: 4%;
  
//     border-bottom-left-radius: 0.5rem;
// }
// .contact-info{
//     margin-top:10%;
// }
// .contact-info img{
//     margin-bottom: 15%;
// }
// .contact-info h2{
//     margin-bottom: 10%;
// }
// .col-md-9{
//     background: #fff;
//     padding: 3%;
    
//     border-bottom-right-radius: 0.5rem;
// }
// .contact-form label{
//     font-weight:600;
// }
// .contact-form button{
//     background: gray;
//     color: #fff;
//     font-weight: 500;
//     width: 29%;
// }
// .contact-form button:focus{
//     box-shadow:none;
// }