<app-header-admin></app-header-admin>
<button (click)="onMostrarCrearProductos()">Crear producto</button>

<app-productos-list (modificar)="modificarProducto($event)" (borrar)="borrarProducto($event)"></app-productos-list>


<app-crear-productos [tipos]="tipoProducto" [display]="mostrarCrearProductos" (cerrarDialogo)="onOcultarCrearProductos()" *ngIf="mostrarCrearProductos"></app-crear-productos>

<app-modificar-productos [display]="mostrarModificarProductos" [producto]="productoModificar" (cerrarDialogo)="onOcultarModificarProductos()" *ngIf="mostrarModificarProductos"></app-modificar-productos>
