<app-header-admin></app-header-admin>

<p-orderList [value]="productos" [listStyle]="{'height':'auto'}" header="List of Products" filterBy="nombre" filterPlaceholder="Filter by name" dragdrop="true">
  <ng-template  pTemplate="header">
    hola
  </ng-template>
  <ng-template let-producto pTemplate="item">
      <div class="product-item">
          <!-- <div class="image-container">
                  <img src="assets/showcase/images/demo/product/{{product.image}}" [alt]="product.name" class="product-image" />
          </div> -->
          <div class="product-list-detail">
              <h5 class="p-mb-2">{{producto.nombre}}</h5>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{producto.tipo_producto}}</span>
          </div>
          <div class="product-list-action">
              <h6 class="p-mb-2">{{producto.precio}}</h6>
              <span>{{producto.stock}}</span>
              <button (click)="modificarProducto(producto)">Modificar</button>
          </div>
      </div>
  </ng-template>
</p-orderList>


<app-crear-productos [display]="mostrarCrearProductos" (cerrarDialogo)="onOcultarCrearProductos()" *ngIf="mostrarCrearProductos"></app-crear-productos>

<app-modificar-productos [display]="mostrarModificarProductos" [producto]="productoModificar" (cerrarDialogo)="onOcultarModificarProductos()" *ngIf="mostrarModificarProductos"></app-modificar-productos>

<!-- <button (click)="onMostrarCrearProductos()">Crear producto</button>


<div *ngFor="let producto of productos">
  <button (click)="modificarProducto(producto)">{{producto.nombre}}</button>
</div>

<hr>

<div *ngFor="let producto of productos">
  <button (click)="borrarProducto(producto.producto_id)">
    Borrar {{producto.nombre}}</button>
</div> -->
