<h2>TOTAL VENTAS MENSUALES</h2>
<h1>{{ totalVentasMensuales }}</h1>

<h2>TOTAL VENTAS DIARIAS</h2>
<h1>{{ totalVentasDiarias }}</h1>

<h2>LISTA DE ADMINISTRADORES</h2>
<div class="tabla">
<table width="100%">
    <thead>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Rol</th>
    </thead>
<tbody>
<ng-container *ngFor ="let item of admins">
    <tr>
        <td>{{item.nombre}}</td>
        <td>{{item.apellidos}}</td>
        <td>{{item.email}}</td>
        <td>{{item.rol}}</td>
    </tr>
</ng-container>
</tbody>
</table>
</div>