<div class="container-fluid slider">
  <div class="row slider-text">
      <div class="col-12">
          
          <h1>Conócenos</h1>
          
      </div>
  </div>
</div>

<div class="container-fluid padding-top">
<div class="row">
    <div class="col-12">
        
      <h2 class="140-vh black">BOXSR nace con la misión de romper con los tabúes en el mundo de la cosmética masculina ofreciendo una solución completa
        en un sector que ha estado tradicionalmente enfocada hacia el rostro femenino. No vendemos productos, sino rutinas y queremos
        ser el guia referente para tu bienestar.
      </h2>
      <h3>BOXSR ha sido creada para ayudar a los hombres a combatir los signos de la edad y mantener su piel joven y sana, con una rutina 
        innovadora de consmética masculina formulada con ingredientes de alta</h3>
        
    </div>
</div>
</div>
<div class="container-fluid  padding-top">
<div class="row">
    <div class="col-12">
        
      <h2 class="black">¿Por qué es diferente la piel del hombre?</h2>
      <h3>La piel varía según el género, y la del hombre es un 25% más gruesa,contiene más grasa y envejece
        diferente debido principalemnte a la testosterona y necesita un enfoque personalizado.
      </h3>
      <div class="col-12">
      <img class="imagenEllas" src="../../../assets/images/_1160261.jpg" alt="">
      </div>
     
        <h4>Las fundadoras: Hella, Lara e Idoya</h4>
        <h4 class="italic">"Queremos que te vuelvas proactivo en tu rutina y afrontes todos los días con buena cara"</h4>
     
    </div>
</div>
</div>
<div class="container-fluid padding-bot">
<div class="row">
    <div  class="col-12 ">
       <h1 class="black">NUESTROS VALORES</h1> 
      <h2 class="black">PRODUCTO MEDITERRANEO</h2>
      <h3>Todos nuestros productos están fabricados y envasados en nuestro laboratorio en Alicante,España.</h3>
       <h2 class="black">CUELTY-FREE</h2> 
       <h3>En BOXSR amamos y respetamos a los animales y estamos en contra de la experimentación con ellos.</h3>
       <h2 class="black">DERMOCOSMÉTICA PROFESIONAL</h2>
       <h3>Nuestro laboratorio farmacéutico cuenta con 35 años de experiencia creando fórmulas magistrales.</h3>
    </div>
</div>
</div>
<div class="container-fluid padding-bot ">
<div class="row">
    <div  class="col-12">
       <h1 class="black">CALIDAD</h1>
       <h3 class="black">
         Te ofrecemos cosmética profesiona de primera calidad, gracias al alto porcentaje de ingredientes
         activos naturales utilizados en la fabricación de nuestros productos. son el corazón de nuestras cremas y los que te ayudarán a consefuir unos resultados efectivos al poco tiempo de su aplicación diaria.
       </h3> 
       <h3>Todos nuestros productos son desarrollados y testados bajo los más rigurosos estándares de caildad en nuestro
         laboratorio especializado en dermocosmética clínica, con número de autorización 83333CS de la AEMPS y
         número RGSEAA 26.07855/A.
       </h3>
       <h3>
         Contamos con profesionales con más de 30 años de experiencia en el sector, habiendo colaborado con médicos y
         especialistas de la dermatología, estética, nutrición y longevidad. Nuestros productos se desarrollan en zonas
         controladas, o salas blancas, en condiciones extremas de higiene y seguridad.
       </h3>
       <h3> Integramos la más moderna tecnología de producción, los más exigentes controles de fabricación, conservación de principios
        activos, y una avanzada área de investigación.</h3>
         <h3 class="italic">Tú eres único, Tu piel también.</h3>
       <h3 class="italic">Bienvenido al club BOXSR.</h3>
    </div>
</div>
</div>