// global styles
* {
    font-family: averta !important;
  }
  
  body {
    overflow-x: hidden;
  }
  
  .arrow-button {
    font-weight: 700;
    outline: none;
    padding: 3px 40px 3px 10px;
    background-color: white;
  }
  
  //Slider
  .slider {
    height: 36vh;
    width: 85vh;
    margin-top: 30px;
    margin-bottom: 30px;
    
    background-image: url(../../../../assets/images/BOXSR_1-8.png);
    background-size: 80%;
    background-position: center;
    display: flex;
    align-items: flex-end;
  }
  .black{
    font-weight: revert;
  }
  .italic{
    font-style: italic;
  }
  .width{
    width: 100vh;
  }  
  .padding{
    padding-top: 140px;
    padding-bottom: 35px;
  }
 
  .imagenEllas{
    height: 36vh;
    width: 85vh;
  
  }
  .Ellas{
    justify-content: center;
    align-items: center;
    display:flex;
    height: 78%;
  }
 