// global styles
* {
    font-family: averta !important;
  }
  
  body {
    overflow-x: hidden;
  }
  
 
  
  //Slider

   .slider {
    margin-top:-70px;
    height: 36vh;
    width: 130vh;
    margin-top: 30px;
    margin-bottom: 30px;
    
    background-image: url(../../../../assets/images/macro-shot-of-mans-eye-ES7VQPB.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
  }
  .black{
    font-weight: revert;
  }
  .italic{
    font-style: italic;
  }
  .width{
    width: 130vh;
  }  
  .padding{
    padding-top: 140px;
    padding-bottom: 35px;
  }
 
  .imagenEllas{
    height: 36vh;
    width: 100vh;
  
  }
  .Ellas{
    justify-content: center;
    align-items: center;
    display:flex;
    height: 78%;
  }
 