// global styles
* {
  font-family: averta !important;
}

body {
  overflow-x: hidden;
}

.arrow-button {
  font-weight: 700;
  outline: none;
  padding: 3px 40px 3px 10px;
  background-color: white;
}

//Slider
.slider {
  margin-top: -70px;
  height: 60vh;
  background-image: url(../../../../assets/images/macro-shot-of-mans-eye-ES7VQPB.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.slider-text {
  width: 60%;
  margin: 10px;

  h1 {
    color: white;
    font-size: 30px;
    font-weight: 700;
  }
  h2 {
    margin-bottom: 5px;
    margin-top: 5px;
    color: #4b4a4a;
  }

  button {
    margin-bottom: 5px;
  }
}

body {
  overflow-x: hidden;
}

//Slider

//  .slider {
//   margin-top:-70px;
//   height: 36vh;
//   width: 100vh;
//   margin-top: 30px;
//   margin-bottom: 30px;

//   background-image: url(../../../../assets/images/macro-shot-of-mans-eye-ES7VQPB.jpg);
//   background-size:cover;
//   background-position: center;
//   display: flex;
//   align-items: flex-end;
// }
// * {
//   font-family: averta !important;
//   color: #4B4A4A;
// }
.black {
  font-weight: revert;
}
.italic {
  font-style: italic;
}
.padding-top {
  padding-top: 5%;

  padding-left: 12%;
  padding-right: 12%;
}
.padding-bot {
  // padding-top: 7%;
  padding-bottom: 5%;
  padding-left: 12%;
  padding-right: 12%;
}

.imagenEllas {
  max-width: 100%;
  width: 80%;
}
