<div class="container">
  <h1>1.Revisa tu pedido</h1>
  <div class="list-group">
    <ul>
      <li class="list-group-item item" *ngFor="let item of carritoItems">
        <div class="carrito-item">
          <span>{{ item.nombre | titlecase}}</span> x
          <span>{{ item.cantidad }}</span> =
          <strong class="item-precio">{{ item.precio * item.cantidad }}€</strong>
        </div>
      </li>
      <li class="list-group-item total">
        <span>Total: {{ carritoTotal }}€</span>
      </li>
    </ul>

  </div>
</div>