@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
@font-face {
    font-family: averta;
    src: url(assets/fonts/Averta-Regular.ttf) format("opentype");
  }

* {
    font-family: averta;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
