<div class="container_fluid padding">
  <div class="row">
    <div class="col-12">
      <h1 class="black">Envíos y devoluciones</h1>
      <h4>ENVÍO ESTÁNDAR EXPRESS ESPAÑA ,PENINSULA Y BALEARES(NO REALIZAMOS ENVÍOS A CANARIAS,CEUTA O MELILLA, NI FUERA DE ESPAÑA)</h4>
      <h4>Los envíos solo se realizan en España (Península y Baleares) y el coste de envío es 4,50€. Para los pedidos superiores a 29€ el envío es gratuito.</h4>
      <h4 class="black">MUESTRAS</h4>
      <h4>El coste del envío es de 0,99€</h4>
      <h4 class="italic">Nuestros proveedores han reforzado las medidas de seguridad e higiene.</h4>
      <h4 class="black">PLAZO DE ENTREGA</h4>
      <h4>Los envíos solo se realizan en España (Península y Baleares) y llegan a su destino en un plazo de entre 2 o 3 días hábiles desde el momento en que se realiza el pedido. Puedes elegir el lugar de entrega del pedido en tu domicilio, en una oficina de Correos o en un Citipaq cercano. Podemos entregarte tu pedido en cualquier dirección dentro de España (Península y Baleares). No realizamos envíos a Canarias, Ceuta o Melilla.</h4>
      <h4 class="black">DEVOLUCIONES</h4>
      <h4>Para solicitar tu cambio o devolución contacta con BOXSR escribiendo un mail a hola@boxsr.es.</h4>
      <h4>Recogeremos el paquete en la caja en la que se envió el paquete y tras haber revisado en BOXSR que la mercancía está en perfecto estado y correctamente precintada, recibirás la devolución en un plazo de hasta 14 días hábiles con el mismo modo de pago que realizaste tu compra:</h4>
    <ul>
      <li>Los costes de transporte causados por esta devolución o cambio van siempre a cargo del cliente, salvo que el producto esté defectuoso.</li>
      <li>Los productos se deben devolver en perfecto estado y sin haber sido abiertos, ni estropeado el packaging.</li>
    </ul>
</div>
  </div>
  <div class="row">
    <div  class="col-12 devoluciones">
    <h4 class="black">Si lo que quieres es hacer un cambio, deberás hacer primero una devolución y luego hacer un nuevo pedido. Para cualquier duda puedes contactar con el Servicio de Atención al Cliente a través del mail hola@boxsr.es.</h4>
    </div>
  </div>
</div>